<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_f_concept_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_f_concept_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kuai_Notes_Project" >
        <activity
            android:name=".Wasted_Note_Visualizer"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:enableOnBackInvokedCallback="false"
            android:exported="false"
            tools:targetApi="33" />
        <!--
            android:windowSoftInputMode="adjustResize"
            utilizado para que el edittext no quede oculto debajo del teclado
        -->
        <activity
            android:name=".Trash_Can"
            android:exported="false" />
        <activity
            android:name=".Memo_Board"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>